<div class="container">
		<div class="row">
			<div class="riwayat-mblepp">
				<table class="table">
					<thead>
					    <tr>
					      <th>Mata Kuliah</th>
					      <th>Nilai</th>
				    	</tr>
				  	</thead>
					<tbody>
					{% for riwayat in riwayats %}
						<tr>
							<td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
        					<td>{{ riwayat.nilai }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
