<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>NPM</th>
                <th>Nama</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>NPM</th>
                <th>Nama</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                    <td>1234567890</td>
                    <td>Nama mahasiswa</td>
            </tr>
             {% for us in user_list %}
            <tr>
                <td>{{ us.npm }}</td>
                <td>{{ us.nama }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every( function () {
            var that = this;

            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>


<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>
