{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- bootstrap csss -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>
        {% block title %}CSUI - JobSeeker{% endblock %}
    </title>

    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 818i5w1uzetvue
        authorize: true
        onLoad: onLinkedInLoad
    </script>

    <style type="text/css">
        body {
            background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        .navbar-login
        {
            width: 305px;
            padding: 10px;
            padding-bottom: 0px;
        }

        .navbar-login-session
        {
            padding: 10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }

        .icon-size
        {
            font-size: 87px;
        }
        
        #myTable
        {
            border: solid black;
            
            
        }

        #teman
        {
            margin: 50px;
        }
        
        .header
        {
            border: solid black;
        }

        .navbar-default .navbar-nav>li>a {
            cursor: pointer;
        }

        /* Textarea not resizeable */
        textarea {
            resize:none;
        }
        /*section{
          min-height: 400px;
        }*/


        #update-status-box form{
          width: 100%;
          margin: 50px auto;
          position: relative;
          z-index: 1;
          background: #ecf0f1;
          border: 0 none;
          border-radius: 3px;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          padding: 20px 30px;
          box-sizing: border-box;
          position: relative;
        }
        #show-status .media:hover {
          background: #f6f8fa;
        }
        #show-status .media {
          background: white;
          border: 0 none;
          border-radius: 3px;
        }
        #update-status-box form > h2{
          font-size: 1.3em;
          color: #2C3E50;
          margin-bottom: 10px;
        }
        #update-status-box form > .todo-form-input, #update-status-box form > .todo-form-textarea{
          padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 13px;
        }

        #empty {
          border: 0 none;
          border-radius: 5px;
        }
        #profile-page .img-circle{
            border-radius: 50%;
            height: 200px;
            width: 200px;
            border: 2px solid #9D9F93;
        }

        .footer {
          position: fixed;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1rem;
          background-color: #efefef;
          text-align: center;
        }
        #input-list form{
          width: 400px;
          margin: 20px auto;
          text-align: center;
          position: relative;
          z-index: 1;
          background: white;
          border: 0 none;
          border-radius: 3px;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          padding: 20px 30px;
          box-sizing: border-box;
          position: relative;
        }

        /* styling form input dan textarea, apakah arti dari tanda ',' ? */
        #input-list form > .name_input_form, #input-list form > .url_input_form{
          padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            color: #2C3E50;
            font-size: 13px;
        }
        .bg1 {
          background: white;
          border: 0 none;
          border-radius: 0px;
          box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
          padding: 20px 30px;
          box-sizing: border-box;
        }

        @media only screen and (max-width: 768px) {
          #input-list form {
            width: 290px;
          }
          .li1 {
            margin:3px;
            display: flex; 

          }
          .footer {
            position: fixed;
          }
          
        }
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }

    </style>

</head>
<body>
<header>
   {% include "login/partials/header.html" %}
</header>
<content>
    <div class="container" style="margin-top: 80px">
        {% for message in messages %}
        
        <div class="alert {{ message.tags }} alert-warning" role="alert" id="django-messages" style="margin-top: 100px">
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
        
    </div>
</content>
<footer>
    <div class="text-center">
    <p>&copy; Copyright 2017</p>
    </div>
    
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</body>
</html>
