{% extends "profile_app/layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<h1 style="text-align: center;"> Selamat Datang, {{author}} </h1>
<div style="text-align: center;">
    <img style="border-radius: 50%; height: 200px; width: 200px" src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png"/>
</div>
</hr>
<section>
    <h2 style="font-weight: bold;" align="center"> Profile {{name}}</h2>
    <div align="center">
        <p style="font-size: 40pt"> {{jumlahAllStatus}} </p>    
        <p>Jumlah status</p>
        <p style="font-size: 28pt">Status terbaru : {{latestStatus}}</p>
        <p style="font-size: 14pt">On : {{latestStatusDate}}</p>
    </div>
</section>


<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#status" aria-controls="settings" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a href="#teman" aria-controls="settings" role="tab" data-toggle="tab"> Teman </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
        
        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            {% include "riwayat/riwayat.html" %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="status">

        </div>
        <div role="tabpanel" class="tab-pane fade" id="teman">

        </div>
    </div>
</div>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81qcpdr4mddno2
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>
{% endblock %}
